<div class="row">
  <div class="col-md-9">
    <div class="slider">
      <ul class="slides">
        <li><a href="#"><%= image_tag "dummy/slide-1.jpg" %></a></li>
        <li><a href="#"><%= image_tag "dummy/slide-2.jpg" %></a></li>
        <li><a href="#"><%= image_tag "dummy/slide-3.jpg" %></a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <div class="col-sm-6 col-md-12">
        <div class="latest-movie">
          <a href="#"><%= image_tag "dummy/thumb-1.jpg" %></a>
        </div>
      </div>
      <div class="col-sm-6 col-md-12">
        <div class="latest-movie">
          <a href="#"><%= image_tag "dummy/thumb-2.jpg" %></a>
        </div>
      </div>
    </div>
  </div>
</div>