
<div class="row">
  <div class="col-sm-6 col-md-12">
    <div class="movie-list">
      <h2><%= t ".top_rated" %></h2>
        <%= render "top_rated" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-12">
    <div class="movie-list">
      <h2><%= t ".most_reviewed" %></h2>
      <%= render "top_reviewed" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-12">
    <div class="movie-list">
      <h2><%= t ".all_movies" %></h2>
      <%= render "all_movies" %>
    </div>
    <div class="pagination">
      <%= will_paginate @movies %>
    </div>
  </div>
</div>  

<%= render "trend" %>   
